<style>
body{
    background-color: #E6E6E6;
    width: 850px;
   } 
.moviename-big{
	vertical-align: middle;padding-left: 10px;margin: 5px0;font-size: 25px;font-weight: normal;
}
.moviename-orig{
	color: #666;font-size: 13px
}   
.headerFilm{
	position: relative;
	float: left;
}   
.infoTable {
    position: relative;
    float: right;
    top: 100px; 
	left: -100px;
}
.film-img-box {
    position: relative;
    left: -12px;
    min-height: 205px;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
table {
    display: table;	
    border-collapse: collapse; 
    border-spacing: 2px;
    border-color: gray;    
}
tr.border_bottom td {
  border-bottom:1pt dotted black;
}
.info .type {
    background: url(/images/sqr-grey.gif) 0 11px no-repeat;
    color: #f60;
}
div {
    display: block;
}
</style>